<div class="flex flex-col gap-2 text-sm text-white px-3 py-4 overflow-y-auto h-full">
  <p class="mb-3 text-xs font-semibold text-gray-400 uppercase tracking-wider">Members</p>

  @if (loading()) {
    <div class="space-y-2 flex flex-col justify-between">
      <p-skeleton height="36px" borderRadius="6px" class="w-full"></p-skeleton>
      <p-skeleton height="36px" borderRadius="6px" class="w-4/5"></p-skeleton>
      <p-skeleton height="36px" borderRadius="6px" class="w-3/5"></p-skeleton>
    </div>
  } @else {
    <div class="flex flex-col gap-2">
      @for (member of members(); track member.user.name) {
        <div
          class="flex items-center gap-3 p-2 rounded-md bg-gray-700 hover:bg-gray-600 cursor-pointer transition-colors duration-100"
        >
          <p-avatar
            [label]="member.user.displayName.substring(0, 2) | uppercase"
            styleClass="bg-gray-700 text-gray-300 border-none"
            size="large"
            shape="square"
          />
          <p class="truncate text-sm text-gray-200">
            {{ member.user.displayName }}
          </p>
        </div>
      }
    </div>
  }
</div>
