<div class="flex flex-col justify-between pt-4 h-screen">
  <div class="flex flex-col overflow-hidden">
    <div class="flex justify-around items-center px-6 pb-3 border-b border-solid">
      <button
        type="button"
        class="w-12 h-12 rounded-full bg-gray-950 text-white text-2xl font-bold
           hover:bg-gray-500 transition-colors duration-150 flex items-center justify-center"
        (click)="setServerCreationDialogStatus(true)"
      >
        +
      </button>
      <button
        type="button"
        class="w-12 h-12 rounded-full bg-gray-950 text-white text-xl
           hover:bg-indigo-500 transition-colors duration-150 flex items-center justify-center"
        aria-label="Join server"
        (click)="setJoinServerDialogStatus(true)"
      >
        Join
      </button>
    </div>
    <div class="overflow-auto overflow-x-hidden" [style]="{'scrollbar-width': '0.5px'}">
      <app-user-memberships-sidebar [memberships]="user()?.memberships!" (onClick)="selectServer($event)"/>
    </div>
  </div>
</div>

<p-dialog
  title="Create a new server"
  [visible]="creationDialogVisible()"
  [closable]="true"
  [modal]="true"
  [focusTrap]="true"
  [draggable]="false"
  [focusOnShow]="true"
  styleClass="bg-gray-900 text-white rounded-lg p-6 w-full max-w-md shadow-xl"
>
  <div class="mb-4">
    <label for="serverName" class="block text-sm font-medium text-gray-300 mb-1">Server Name</label>
    <input
      [formControl]="serverNameFormControl"
      id="serverName"
      type="text"
      pInputText
      class="w-full px-3 py-2 bg-gray-950 text-white rounded-md border border-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500"
      placeholder="Server name"
    />
    <p class="text-red-700">Required</p>
  </div>

  <div class="flex justify-end gap-2">
    <button
      type="button"
      pButton
      class="px-4 py-2 text-sm rounded-md bg-gray-800 hover:bg-gray-500 transition-colors"
      (click)="setServerCreationDialogStatus(false)"
      [loading]="createServerInProgress()"
      [disabled]="createServerInProgress()"
    >
      Cancel
    </button>
    <button
      type="button"
      pButton
      class="px-4 py-2 text-sm rounded-md bg-gray-600 hover:bg-gray-500 transition-colors"
      (click)="onCreateServer()"
      [loading]="createServerInProgress()"
      [disabled]="createServerInProgress() || !this.serverNameFormControl.valid"
    >
      Create
    </button>
  </div>
</p-dialog>
<p-dialog
  title="Join a server"
  [visible]="joinServerDialogVisible()"
  [closable]="true"
  [modal]="true"
  [focusTrap]="true"
  [draggable]="false"
  [focusOnShow]="true"
  styleClass="bg-gray-900 text-white rounded-lg p-6 w-full max-w-md shadow-xl"
>
  <div class="mb-4">
    <label for="serverId" class="block text-sm font-medium text-gray-300 mb-1">Server id</label>
    <input
      [formControl]="joinServerFormControl"
      id="serverId"
      type="text"
      pInputText
      class="w-full px-3 py-2 bg-gray-950 text-white rounded-md border border-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500"
      placeholder="id"
    />
    <p class="text-red-700">Required</p>
  </div>

  <div class="flex justify-end gap-2">
    <button
      type="button"
      pButton
      class="px-4 py-2 text-sm rounded-md bg-gray-800 hover:bg-gray-500 transition-colors"
      (click)="setJoinServerDialogStatus(false)"
      [loading]="joinServerInProgress()"
      [disabled]="joinServerInProgress()"
    >
      Cancel
    </button>
    <button
      type="button"
      pButton
      class="px-4 py-2 text-sm rounded-md bg-gray-600 hover:bg-gray-500 transition-colors"
      (click)="onJoinServer()"
      [loading]="joinServerInProgress()"
      [disabled]="joinServerInProgress() || !this.joinServerFormControl.valid"
    >
      Create
    </button>
  </div>
</p-dialog>
