@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* SKELETON */
/* P-SKELETON DOESN'T WORK WITHOUT THIS. PROBABLY CONFLICT WITH TAILWIND */

.p-component,
.p-component *,
.p-skeleton,
.skeleton * {
  box-sizing: border-box;
}
.p-skeleton {
  background-color: #e9ecef;
}
.p-skeleton:after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}
